@charset "UTF8";

*{  
    padding: 0px;
    margin: 0px;
}
body{   
    
    grid-template-columns: 1fr 90vw 1fr; 
    font-family: Arial, Helvetica, sans-serif;
    
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: url('../imagens/netflix.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;

    
}
header .logo{    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #e50914;
  letter-spacing: 1px;
}



